#title {
  color: #1f5c98;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 17px;
}

#pushtext {
  width: 20px;
  color: #1f5c98;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
}

#push {
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
  width: 40px;
  background-color: #d1cece;
  border: 1px solid #bfbfbe;
}

#pop {
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
  width: 40px;
  background-color: #d1cece;
  border: 1px solid #bfbfbe;
}

#button {
  text-align: center;
  display: inline;
}

#topText {
  color: #1f5c98;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 13px;
}

#top {
  width: 20px;
  background-color: #efeded;
}

#spacer {
  width=1px;
  ;
  height: 200px;
  background-color: #ffffff;
}

#stack {
  width: 25px;
  height: 1px;
  border: 1px solid #000000;
}
