h1{
  color: #1f5c98;
  text-align : center;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 17px;
}
h3{
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 15px;
}
pre {
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
}
input {
  color: #1f5c98;
  text-align : center;
  font-family: Verdana, Arial, Sans-Serif;
}

#value{
  color: #1f5c98;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 12px;
}
